@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
:root {
  --blue: #002eff;
  --blue-dark: #0026d1;
  --red: #dc2020;
  --gray-1: #0c0c0c;
  --gray-2: #191919;
  --gray-3: #f3f5ff;
}
body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
}
